---
/* Check current session */
const {login} = Astro.props;
---

<div class="navbar bg-base-100 mb-4 p-5">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/">Home</a></li>
        <li>
          <a>Car Brand</a>
          <ul class="p-2">
            <li><a href="#">Honda</a></li>
            <li><a href="#">Yamaha</a></li>
          </ul>
        </li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost normal-case text-xl">
      <img src="../../icon.svg" class="" />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/">Home</a></li>
      <li tabindex="0">
        <details>
          <summary>Car Brand</summary>
          <ul class="p-2">
            <li><a href="#">Honda</a></li>
            <li><a href="#">Yamaha</a></li>
          </ul>
        </details>
      </li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a href="/login" class="btn btn-primary">LOGIN</a>
  </div>
</div>
